/** Les couleurs sont inversées
		http://www.mattlag.com/scripting/hexcolorinverter.php
*/
.darkmode .headerbar {
	background-image: none;
	background-color: #E0E0E0;
}

.darkmode .headerbar h1, .darkmode .headerbar p {
	color: #000000;
}
