body.darkmode {
  filter: invert(1) hue-rotate(.5turn);
}

.darkmode img {
  filter: invert(1) hue-rotate(.5turn);
}

.darkmode img:not(:hover) {
  opacity: .7;
  transition: opacity .25s ease-in-out;
}

.darkmode .headerbar {
	background-image: none;
}

/** La suite est un copier coller sans le .darkmode */
@media (prefers-color-scheme: dark) {

  html {
    filter: invert(1) hue-rotate(.5turn);
  }

  img {
    filter: invert(1) hue-rotate(.5turn);
  }

  img:not(:hover) {
    opacity: .7;
    transition: opacity .25s ease-in-out;
  }
  
  .headerbar {
		background-image: none;
  }
}