<li data-last-responsive="true" class="rightside" style="{STYLE_DO_LIGHT}" id="callLight">
	<a href="javascript:void(0);" onclick="darkmode(false)">
		<i class="icon fa-lightbulb-o fa-fw" aria-hidden="true"></i><span>{DO_LIGHT_MESSAGE}</span>
	</a>
</li>
<li data-last-responsive="true" class="rightside" style="{STYLE_DO_DARK}" id="callDark">
	<a href="javascript:void(0);" onclick="darkmode(true)">
		<i class="icon fa-moon-o fa-fw" aria-hidden="true"></i><span>{DO_DARK_MESSAGE}</span>
	</a>
</li>